.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main{
  height: 100vh;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.navbar{
  position: relative;
  width: -webkit-fill-available;
  height: 60px;
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;

}
.navbar .icons{
  /* color: yellow; */
  padding: 10px;

}
.bellpage{
  margin-top: 100px;
  /* background-color: blue; */
  margin-top: 100px;
  width: 70vw;
  margin-left: 320px;
  overflow: auto ;
  height: 90vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 5vh;

}
.sidebar{
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* background-color: aqua; */
  overflow: auto;

}
.top_section{
  padding: 10px;
  margin: 10px;

}
.logo{
  text-align: center;
}
/* .link-text{
  padding: 10px;  
    margin: 10px;
    margin-left: 40px;
} */
/* .sidebar1{
  padding: 40px;
} */


.actual_element{
  margin-top: 10px;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 5px;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  transition: border-color 0.3s;
  text-decoration: none;
}

.link_text {
  display: flex;
  align-items: center;
  padding-left: 30px;
  text-decoration: none;
}

.icon {
  margin-right: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.actual_element{
  margin-top: 100px;
}
.adminDashboard{
  margin-top: 100px;
  width: 68vw;
  margin-left: 320px;
  height: 140vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 5vh;

}

/* .adminDashboardUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.leftText {
  margin-right: auto;
  padding: 10px;
}

/* .rightButton {
  margin-left: auto;
  padding: 10px;
} */
.rightbutton1{
  border: 1px solid black;
  padding: 8px;
  text-decoration: none;
  background-color: #3876e9;
  color: white;
}
.rightbutton2{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  /* background-color: red; */
}
.rightButton{
  height: 35px;
  padding-right: 60px;
  margin-right: 80px;
  align-items: center;
  
}

.adminDashboardUpper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 34px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 9px rgba(51,51,51,.18823529411764706);
}
/* .rightButton{
  padding: 10px;
  
} */
.belowDashboard{
  padding: 1rem!important;
  height: 8vh;
}
.belowlist1{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
/* .belowlist{
  display: flex;
  justify-content: space-between;
} */
.showarea{
    max-width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  ;
}
.dropdown{
  display: flex;
    justify-content: flex-start;
    margin-left: 50px;
  max-width: 200px;
}
.dropdown1{
  position: relative ;
  padding-top: 18px;
}
.dropdown4{
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
max-width: 200px;
}
.select4{
  height: 33px;
}
.dropdown-menu{
  list-style-type: none;
}
.searchbar1{
  width: auto;
}
.tableDashboard{
  width: 60vw;
    /* background-color: green; */
    margin-left: 50px;
    margin-right: 10px;
    overflow: auto;
    height: 60vh;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    margin-bottom: 20vh;
}
.footer1{
  background-color: #708ff4;
  margin-top: auto;
  margin-left: 250px;
  height: 80px;
}
.footer2{
  background-color: #2358bd;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 60px;
 
}

.footer2 p{
  color: #61dafb;
  display: flex;
  justify-content: center;
  padding: 20px;
  
}
/* .tablestyle{
  border-collapse: collapse;
  width: 100%;
} */
/* .heading {
  background-color: antiquewhite;
  
  padding: 0px;
  text-align: left;
  height:60px;
} */
/* .row1 {
  
  padding: 8px;
  text-align: left;
  height: 90px;
} */
.wholepage{
  width: 80vw;
    height: 100vh;
    margin-left: 250px;
    /* margin-top: 60px; */
    /* overflow: auto; */
    background-color: rgb(199, 140, 68);
}
.headinglist{
  display: inline-block;
  padding: 16px;
}
.belowlist{
  display: inline-block;
  padding: 16px;
}

.block{
  width: 60vw;
  height: 10vh;
  margin-left: 65px;
  margin-top: 30px;
  /* padding: 10px; */
  /* background-color: antiquewhite; */
}
.inputbox{
  width: 65vw;
  padding: 5px;
}
.blockname{
  padding: 10px;
}
/* Style the select element */
select {
  padding: 5px;
  font-size: 16px;
}

/* Style the dropdown arrow */
select::-ms-expand {
  display: none;
}

select:after {
  content: '\25BC';
  position: absolute;
  top: 8px;
  right: 10px;
  padding: 0 2px;
  background: #f9f9f9;
}

/* Style the options */
option {
  background: #fff;
  color: #000;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search-container input[type="text"] {
  padding: 5px;
  font-size: 16px;
  width: 200px;
  margin-right: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdown {
  margin-right: auto;
}

.dropdown span {
  padding-right: 5px;
}

.dropdown select {
  padding: 5px;
  font-size: 16px;
}

.search-container {
  margin-left: auto;
}

.search-container input[type="text"] {
  padding: 5px;
  font-size: 16px;
  width: 200px;
}

.search-container button[type="submit"] {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}

.wholeareaappsetting{
  background-color: #eee;
  margin-left: 250px;
  height: 300vh;
  /* overflow: auto; */
  
}
.editorareaappsetting{
  margin: 20px;
  
    margin-top: 45px;
}
.buttonappsetting{
  margin: 20px;
}
.wholeareaauditlogs{
  /* background-color: #61dafb; */
  margin-left: 350px;

  margin-top: 40px;
  width: 68vw;
  margin-left: 320px;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 10vh;
}
.upperselectbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 34px;
  border-radius: 5px;
  margin-bottom: 10px;
  /* background-color: #2358bd; */
}
.lowerselectbar{
  margin-left: 80px;
    display: flex;
    justify-content: space-between;
} 
  .lowerselectbar input[type="text"] {
      padding: 5px;
      font-size: 16px;
      width: 200px;
      margin-right: 30px;
    }
    .auditlogtablepart{
      overflow: auto;
    }
    
    .auditlogtablestyle{
      border-collapse: collapse;
  width: 100%;
    }
    .auditlogtableheading{
      background-color: antiquewhite;
  /* border: 1px solid black; */
  padding: 0px;
  text-align: left;
  height:60px;
    }
    .auditlogtablerow1{
      /* border: 1px solid black; */
  padding: 8px;
  text-align: center;
  height: 90px;
    }
    .auditlogtablerow{
      background-color: black;
      color: white;
      /* border: 1px solid black; */
  padding: 8px;
  text-align: center;
  height: 90px;
    }
    .auditlogtablepart{
      padding: 10px;
      margin: 10px;
      overflow: auto;
    }

.pagination{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.previousbutton{
  padding: 5px;
}
.wholeareaprofile{
  margin-left: 350px;
 /* background-color: #4CAF50; */
  margin-top: 40px;
  width: 68vw;
  margin-left: 320px;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 10vh;
  border-radius: 2px;
}
.uppernavbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 34px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #3876e9;
  font-size: 150%;
}
.wholeareaprofile2{
  margin-left: 350px;
  /* background-color: #af4c5c; */
   margin-top: 30px;
   width: 60vw;
   margin-left: 50px;
   height: 80vh;
   position: relative;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   border: 0;
   font-weight: 400;
   margin-bottom: 10vh;
   border-radius: 2px;
}
.uppernavbar2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 34px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #c5cedf;
  font-size: 150%;

}
.button-on-profile{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
}

.wholeareamultilanguage{
  margin-left: 350px;
 /* background-color: #4CAF50; */
  margin-top: 40px;
  width: 68vw;
  margin-left: 320px;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 10vh;
  border-radius: 2px;
}
.uppernavbarmultilanguage{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 34px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #3876e9;
  font-size: 150%;
}
.wholeareaCreateuser{
  margin-left: 350px;
  /* background-color: blue; */
  margin-top: 40px;
  width: 68vw;
  margin-left: 320px;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 10vh;
}
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  .form-container label, .form-container input, .form-container select {
    display: block;
    margin-bottom: 10px;
  }
  .form-container button {
    /* background-color: #4CAF50; */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .required{
    display: flex;
    justify-content: space-between;
  }

   .table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .heading {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .headinglist {
    flex: 1;
    font-weight: bold;
  }
  
  .belowlist {
    /* display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; */
    flex: 1;
  }
  
 .no-users {
    text-align: center;
    margin-top: 20px;
    color: #888;
  }
  .blockmanagemarathon{
    display:flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 100px;

  }
  .blocknameareamanagemarathon{
    width: 150px;
    padding: 10px;
    margin: 5px;
}

.blockmanagemarathon .block-type-area .inputbox{
  width: 20vw;
    padding: 6px;
    padding-right: 10px;
}
.admindashboardmanageextension{
  margin-top: 100px;
  width: 68vw;
  margin-left: 320px;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 5vh;

}
.admindashboardmanageextension1{
  margin-top: 15vh;
  width: 68vw;
  margin-left: 320px;
  height: 140vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 5vh;

}
.container1{
  display: flex;
  align-items: center;
  padding: 10px;
}
.table1{
  display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
  }
  .wholeareanotifications{
    margin-left: 350px;
    /* background-color: #4CAF50; */
     margin-top: 40px;
     width: 68vw;
     margin-left: 320px;
     height: 150vh;
     position: relative;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
     border: 0;
     font-weight: 400;
     margin-bottom: 10vh;
     border-radius: 2px;
     overflow: auto;
   }
   .notifications1line{
     display: flex;
     justify-content: space-between;
     padding: 10px;
   }
   .notification1{
    padding: 10px;

   }
   .notification2line{
    display: flex;
     justify-content: space-between;
     padding: 10px;
   }
  .notification3line{
    /* display: flex; */
     /* justify-content: space-between; */
     padding: 10px;
     margin-left: 20px;
  }
  .choosefileboxouter{
    padding: 10px;
    border: 1px solid black;
    width: 60vw;
  }
  .notification-image-url{
    width: 60vw;
    padding: 10px;
  }
  .notification3text{
    padding: 10px;
  }
  .notification4line{
    padding: 20px;
    
  }
  .notification4input{
    width: 60vw;
    padding: 10px;
  }
  .notification5line{
    padding: 20px;
  }
  .notification5input{
    width: 60vw;
    padding: 30px;
    
  }
  /* .notification5inputclass{
    padding: 10px;
  } */
  .notificationButtons{
    display: flex;
    justify-content: space-around;

  }
  .notificationButton1{
    padding: 8px;
    width: 90px;

  }
  .notification1contest{
    margin-left: 40px;
  }
  .wholeareacontest{
    /* background-color: #eee; */
    margin-left: 250px;
    
  }
  .nameareacontest{
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .checkboxcontest{
    margin: 17px;
    height: 29px;
    width: 25px;
  }
  .beforeafterarea{
    display: flex;
    justify-content: center;
    gap: 40px;
  }
    
  .cardarea{
    display: flex;
    justify-content: space-between;
  }
  .card1{
    width: 48%;
    /* background-color: #4CAF50; */
    background-color: #d2d9da;
    height: 60vh;
  }
  .addarea{
    width: 100%;
    height: 30px;
    /* background-color: #2358bd; */
    text-align: center;
    padding-top: 6px;
  }
  .slidingarea{
    width: 100%;
    height: 75%;
    background-color: #888;
    overflow: auto;
  }
  .card1buttons{
     display: flex;
     justify-content: space-around;
    }
    .button1a{
      width: 110px;
      height: 34px;
    }
    .listofsliding{
      width: 100%;
      height: 30px;
    }
  .card2{
    width: 48%;
    background-color: #d2d9da;
    height: 60vh;
  }
  .lowerbuttonarea{
    display: flex;
    justify-content: flex-end;
    padding: 10px;

  }
  .button1a{
    
    margin: 10px;
  }
  .image-container{
    width: 90%;
    height: 70vh;
    overflow: auto;
    /* background-color: #2358bd; */
    margin-left: 40px;
  }
  .image-row1{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    
  }
  .image-row2{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .image-row3{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .image-row4{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .image-row5{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .image-row6{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .wholeareacontest2{
    margin-left: 50px;
 /* background-color: #4CAF50; */
  margin-top: 40px;
  width: 68vw;
  
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  margin-bottom: 10vh;
  border-radius: 2px;
  }
  .inprogresslink{
    text-decoration: none;
  }
  .inprogress{
    width: 80px;
    align-items: center;
    padding: 3px;
    margin: 10px;
  }
  .container1{
    display: flex;
    justify-content: space-between;
  }
.addusermodulebutton{
  border: 1px solid black;
}
.upperselectbar1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 34px 34px;
  border-radius: 5px;
  margin-bottom: 10px;
  gap: 10px;
}
.managemarathon1{
  /* background-color: #bd2378; */
  width: 60vw;
  height: 80vh;
  margin: 50px;
  

}
.wholeareamanagemarathon{
  margin-left: 350px;
  /* background-color: #4CAF50; */
   margin-top: 40px;
   width: 68vw;
   margin-left: 320px;
   height: 270vh;
   position: relative;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   border: 0;
   font-weight: 400;
   margin-bottom: 10vh;
   border-radius: 2px;
}
.wholeareadashboard{
  overflow-y: auto;
  overflow-x: hidden;
}
.block-type-area .inputbox1{
  border: 1px solid black;
}
.buttoncreatemarathon{
  gap: 20px;
 
}
.blockmanagemarathon1{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.back{
  width: 100px;
  height: 30px;
}
.somelinks{
  display: flex;
  justify-content: space-around;
  padding: 22px;
    /* background-color: beige; */
    width: 40%;
    gap: 13px;

}
.inprogresslink1{
  text-decoration: none;
  
}

.container3{
  display: flex;
  justify-content: center;
}
.table4{
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 10px;

}
.blockmanagemarathon2{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 40px;
}
.wholeareamanagemarathon1{
  margin-left: 350px;
  /* background-color: #4CAF50; */
   margin-top: 40px;
   width: 68vw;
   margin-left: 320px;
   height: 155vh;
   position: relative;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   border: 0;
   font-weight: 400;
   margin-bottom: 10vh;
   border-radius: 2px;
}
.createcouponfield{
  width: 60vw;
  height: 170vh;
  /* background-color: #2358bd; */
  padding: 50px;
}
.createcouponMandatoryfield{
  display: block;
    /* margin-left: 2px; */
    border-radius: 10px;
    margin-right: 2px;
    padding: 0.35em 0.75em 0.625em;
    border: 2px groove;
    /* background-color: rgb(179, 148, 148); */
    width: 40vw;
    height: 60vh;
    margin-left: 8vw;  

}
.createcouponMandatoryfield2{
  display: block;
    /* margin-left: 2px; */
    border-radius: 10px;
    margin-right: 2px;
    padding: 0.35em 0.75em 0.625em;
    border: 2px groove;
    /* background-color: rgb(179, 148, 148); */
    width: 40vw;
    height: 100vh;
    margin-left: 8vw;  
    margin-top: 40px;

}
.mandatoryfield1part{
  /* background-color: #4CAF50; */
  width: 39vw;
  height: 10vh;
  margin-top: 50px;
}
.selectionpart1{
  width: 39vw;
}
.mandatoryfield1partitem1{
  padding: 5px;
}
.selectionpart2{
  width: 37vw;
  height: 16px;
  padding: 5px;
}
.adminDashboard6{
    margin-top: 100px;
    width: 68vw;
    margin-left: 320px;
    height: 350vh;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    margin-bottom: 5vh;
  
  }
  .texteditorarea{
    width: 39vw;
    height: 80vh;
    /* background-color: #4CAF50; */
    margin-top: 20px;
  }
.edit-button-profile{
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color:#4CAF50;
  color: white;

}
.edit-button-profile2{
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color: #3876e9;
  color: white;

}
.editprofileheading{
  display: block;
  font-size: 45px;
  margin-left: 50px;
  border-bottom: 1px solid #e0e0e0; 
  margin-right: 50px;
}
.photouploadarea{
  display: block;
  justify-content: center;
  width: 16vw;
  height: 60vh;
  /* background-color: blue; */
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  
}
.photouploadarea img{
  margin-left: 4vw;
}
.uploadbuttonsection{
  display: block;
  width:18vw;
}
.uploadbuttonsection p{
  margin-left: 20px;
}
.uploadbuttonsection input{
  border: 1px solid black;
  border-radius: 1px;
  width: 13vw;
  margin-left: 10px;
  padding: 8px;
}
.entryarea{
  width: 40vw;
  height: 80vh;
  /* background-color: #4CAF50; */
  display: block;
  justify-content: center;
  margin: 20px;

}
.areaofuploadandtext{
  display: flex
}
.entryarea p{
  /* margin-left: 20px; */
  font-size: 30px;
  margin-top: 0;
  
}
.entryarea label{
  display: block;
  font-size: 15px;
  margin-left: 10px;
  
}
.entryarea input{
  width: 30vw;
  height: 5vh;
  margin-left: 10px;
  margin: 10px;
}

.buttonsentryarea{
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 38vw;
    height: 5vh;
    padding: 10px;
}
.changepasswordsection{
  width: 40vw;
  height: 63vh;
  /* background-color: rgb(197, 180, 180); */
  margin-left: 10vw;
}
.changepasswordsection .namesection{
  width: 30vw;
  height: 10vh;
  /* background-color: #708ff4; */
 
  margin-left: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
  
}
.namesection input{
  height: 6vh;
}
.savebutton{
  background-color: green;
  color: white;
}
 .cancelbutton{
  
    background-color: red;
    color: white;
  
 }
 .multipleerrorbuttons{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 64vw;
  height: 15vh;
  background-color: #61dafb;
  margin-left: 15px;
 }
 .multipleerrorbutton1{
display: flex;
justify-content: center;
gap: 20px;
border-bottom: 1px #eef3f4 ;
margin-top: 40px;

 }
 .edit-button-profile3{
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  /* background-color:#4CAF50; */
  /* color: white; */
 }

 .edit-button-profile4{
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  /* background-color:#4CAF50; */
  /* color: white; */
 }

 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for transparency */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 250px;
}


.dialog-container {
  background-color: rgb(54, 175, 227);
  width: 40vw;
  height: 50vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-left: 20vw;
}


.dialog-content {
  text-align: center;
}
.necessaryarea{
 
  /* background-color: #2358bd; */
  width: 35vw;
  height: 30vh;
  margin-left: 20px;

}
.englisharea{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 5px;
}
.dialogboxbuttons{
  display:flex ;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 30px;
}
.buttondialog{
  padding: 6px;
    width: 75px;
}




/* Dropdown styles */
.dropdown-container {
  display: inline-block;
  width: 60vw;
  height: 10vh;
}

.dropdown-header {
  padding: 10px;
  background-color: rgb(54, 175, 227);
  border: 1px solid #ddd;
  cursor: pointer;
  width: 60.3vw;
  height: 40px;
  /* margin-top: 30px; */
}
.errorthatoccured{
  display: flex;
  justify-content: space-between;
}

/* .dropdown-content {
  
  left: 0;
  background-color: rgb(54, 175, 227);
  border: 1px solid #ddd;
  width: 20vw;
  
  display: inline;
} */
.dropdownarea{
  width: 62vw;
  height: 30vh;
  /* background-color: #2358bd; */
}

/* .open .dropdown-content {
  display: inline;

} */

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

/* Styling for textareas inside the dropdown */
.dropdown-textareas {
  padding: 5px;
  width: 20vw;
  display: inline-block;
  margin-right: 17px;
  margin-left: 30px;
  /* justify-content: space-around; */
}

.dropdown-textareas textarea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.dropdownmultierror{
  margin-left: 50px; 
  width: 62vw;
  margin-top: 30px;
  border: 1px solid black;
}
.faqtextarea{
  width: 54vw;
  height: 50vh;
  /* background-color: rgb(186, 146, 146); */
  margin-left: 5vw;
  /* display: inline; */
  display: inline-block;
  padding: 30px;
}
.uppertextfaq{
display: flex;
justify-content: space-around;
margin-top: 20px;
  }


  .form-group {
    margin-bottom: 20px;
    width: 57vw;
  }
  
 .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  .form-group  input,
  textarea {
    width: 20vw;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .faqbutton {
    display: block;
    width: 10vw;
    /* padding: 10px; */
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    border-radius: 5px;
    cursor: pointer;

    padding: 15px;
    margin-left: 25vw;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .tagaddingarea{
    width: 67vw;
    height: 30vh;
    /* background-color: #0056b3; */
    padding: 5px;
  }
  .tagsentryarea{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px;
  }
  .labelfaqtags{
    
    margin-left: 100px;
    font-size: 27px;
}
.inputfaqtags{
  margin-right: 100px ;
  width: 25vw;
}
.buttontagentry{
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}
.buttontagentry button{
  margin-top: 25px;
    height: 30px;
    width: 75px;
    background-color: #2358bd;
    color: white;
    border: none;
    cursor: pointer;

}
.wholeareafaqtag{
  margin-left: 350px;
  /* background-color: #4CAF50; */
   margin-top: 40px;
   width: 68vw;
   margin-left: 320px;
   height: 150vh;
   position: relative;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   border: 0;
   font-weight: 400;
   margin-bottom: 10vh;
   border-radius: 2px;
}
.couponsdate{
  width: 20vw;
  height: 10vh;
  /* background-color: #0056b3; */
  margin-top: 20px;
  
  
}
.couponsdate1{
  display: flex;
  justify-content: space-between;
}
.marathoncoupons{
  width: 30vw;
  height: 10vh;
  margin-top: 20px;
}
.selectcontest1{
  width: 38.8vw;
}
.submitcoupons button{
  width: 38.8vw;
}
.feedbackarea{
  display: flex;
  justify-content: space-around;
}
.form-group4 {
  margin-bottom: 20px;
  width: 57vw;
}

.form-group4 label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 36px;
}


.form-group4 textarea {
  width: 25vw;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.managemarathon5{
  /* background-color: #bd2378; */
  width: 60vw;
  height: 10vh;
  margin: 50px;
  

}
.revenueheading{
  display: flex;
    justify-content: center;
}
.slidingarea ul li{
  list-style-type: none;
}
.hide-sidebar-navbar{
  display: none;
}
.signuppage{
  width: 60vw;
  height: 150vh;
  background-color: #0056b3;
}
.barchart{
  margin-left: 80px;
}
.box_AdminUser_body_sectionB {
  /* border: 2px solid violet; */
  margin: 2vw 8vw 0vw 5vw;
  overflow-y: auto;
  /* overflow-x: auto; */
}

.table {
  width: 60vw;

}

.table_head {
  background-color: #000;
  color: white;
  box-shadow: #ffffff;
}

.table_head1 {
  border: none;
  /* padding-top: 1vh;
                        padding-bottom: 1vh; */
  padding: 1vh 3vw 1vh 3vw;

}

.table_head1_Fullname {
  /* overflow-x: auto; */
  display: inline-block;
  padding-left: 5vw;
  padding-right: 5vw;
}

.table_head1_Email {
  padding-left: 7vw;
  padding-right: 7vw;
}

.table_head1_Action {
  overflow-x: auto;
  padding-left: 10vw;
  padding-right: 10vw;
}

.table_add_user_module_button {
  min-width: 6vw;
  /* margin-left: 72%; */
  color: white;
  text-decoration: none;
  padding: 1.3vh 1vw 1.3vh 2vw;
  background-color: #0d00fc;
  box-shadow: 3vh #000;
}

.table_All_rows {
  /* overflow-x: auto; */
  text-align: center;
}
.DayCategory_Navigation {
  margin: 8vh 0vh 0vh 10vh;
}

.DayCategory_NavigationButtons {
  padding: 1vh 1vh 1vh 1vh;
  background-color: white;
  color: black;
  font-size: 2vh;
  cursor: pointer;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  padding: 1.5vh;
}

.DayCategory_NavigationButtons:focus {
  /* background-color: #4285f4; */
  background-color: #4285f4;
  color: white;
}
.DayCategory_hrTag {
  border: 1px solid rgb(225, 225, 225);
  width: 63vw;
}

.box_DayCategory_body_sectionB {
  /* border: 2px solid violet; */
  margin: 0vw 8vw 0vw 5vw;
  overflow-y: auto;
  /* overflow-x: auto; */
}

.DayCategory_table_head {
  background-color: #000;
  color: white;
  box-shadow: #ffffff;
}

.table_head1_CategoryName {
  padding-left: 10vw;
  padding-right: 13vw;
}

/*------------------------------------ Day Category2 ------------------------------*/
.DayCategory2_table_row {
  text-align: center;
  border: 1px solid rgb(225, 225, 225);
  background-color: aliceblue;
  background-size: 100%;
}

.DayCategory2_ChooseFile {
  border: 1px solid rgb(116, 116, 116);
  background-color: white;
}

.DayCategory2_table_head1_CategoryName {
  padding-left: 0vw;
  padding-right: 0vw;

}

.DayCategory2_navigateButtons {
  display: flex;
  margin: 0vw 0vw 0vw 50vw;
}

.DayCategory_Extra_NavigationButtons {
  /* margin: 1vw 1vw 0vw 43.5vw; */
  margin-left: 47%;
  /* margin-left: 25.5vw; */
  white-space: nowrap;
  display: inline-flex;
  /* border: 1px solid red; */
}

.DayCategory_Extra_NavigationButton1 {
  padding: 1.5vh 1.5vh 1.5vh 1.5vh;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  margin: 0vh 1vh 0vh 0vh;
  color: white;
  background-color: #e67e22;
  cursor: pointer;
}

.DayCategory_Extra_NavigationButton2 {
  padding: 1.5vh 2vh 1.5vh 2vh;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  margin: 0vh 1vh 0vh 1vh;
  color: white;
  /* background-color: #17a2b8; */
  background-color: #4285f4;
  cursor: pointer;
}

.DayCategory_Extra_NavigationButton3 {
  padding: 1.5vh 1.5vh 1.5vh 1.5vh;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  margin: 0vh 0vh 0vh 1vh;
  color: white;
  /* background-color: #17a2b8; */
  background-color: #4285f4;
  cursor: pointer;
}
.table_head1{
  background-color: rgb(21, 2, 2);
  color: white;
}
#Order-Scrool{
display: block;
overflow-x: scroll;
white-space: nowrap;
}
.table-table-striped-columns{
width: 60vw;
}
.adminDashboard5{    margin-top: -8px;
width: 68vw;
margin-left: 0px;
height: 9vh;
position: relative;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
border: 0;
font-weight: 400;
margin-bottom: 5vh;
}
.table-table-striped-columns2{
  width: 68vw;
}
.tagsforexercise{
  display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    padding: 20px;

}
/* .Exercise2_2ndTable-table-striped-columns{
  width:80vw;
} */